html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272525;
}

button {
  width: 6rem;
  padding: 0.6rem;
  border-radius: 1rem;
  cursor:pointer;
  transition: all 500ms;
  font: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
  filter: brightness(60%);
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 16px;
}

.casilla {
  width: 30px; 
  height: 30px;
  border: 4px outset #c9c5c5; 
  display: flex;
  justify-content: center;  
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  background: url('./img/default.png') center/contain no-repeat;
}

.casilla:hover {
  filter: brightness(110%);
}

.casilla.revelada {
  background: url('./img/revelada.png') center/contain no-repeat;
}

.casilla.mina {
  background: url('./img/bombaRoja.png') center/contain no-repeat;
}

.casilla.minaNormal {
  background: url('./img/bombaNormal.png') center/contain no-repeat;
}


.casilla.flag {
  background: url('./img/banderita.png') center/contain no-repeat;
}

.casilla.uno {
  background: url('./img/uno.png') center/contain no-repeat;
}

.casilla.dos {
  background: url('./img/dos.png') center/contain no-repeat;
}

.casilla.tres {
  background: url('./img/tres.png') center/contain no-repeat;
}

.casilla.cuatro {
  background: url('./img/cuatro.png') center/contain no-repeat;
}

.casilla.cinco {
  background: url('./img/cinco.png') center/contain no-repeat;
}

.tablero {
  border: 3px solid #7b7b7b;
  background-color: #a09b9b; 
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 1rem;
}

.info {
  color: white;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}