html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343a40;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 20px;
  font-size: 1rem;
  background: linear-gradient(145deg, #007bff, #0056b3);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Press Start 2P', cursive;
}

button:hover {
  background: linear-gradient(145deg, #0056b3, #004088); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
  transform: scale(1.05); 
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
}

button:active {
  transform: scale(0.95);
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 16px;
}

p {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 16px;
}

.casilla {
  width: 45px; 
  height: 45px;
  border: 4px outset #c9c5c5; 
  display: flex;
  justify-content: center;  
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  background: url('./img/default.png') center/contain no-repeat;
}

.casilla:hover {
  filter: brightness(110%);
}

.casilla.revelada {
  background: url('./img/revelada.png') center/contain no-repeat;
}

.casilla.mina {
  background: url('./img/bombaRoja.png') center/contain no-repeat;
}

.casilla.minaNormal {
  background: url('./img/bombaNormal.png') center/contain no-repeat;
}


.casilla.flag {
  background: url('./img/banderita.png') center/contain no-repeat;
}

.casilla.uno {
  background: url('./img/uno.png') center/contain no-repeat;
}

.casilla.dos {
  background: url('./img/dos.png') center/contain no-repeat;
}

.casilla.tres {
  background: url('./img/tres.png') center/contain no-repeat;
}

.casilla.cuatro {
  background: url('./img/cuatro.png') center/contain no-repeat;
}

.casilla.cinco {
  background: url('./img/cinco.png') center/contain no-repeat;
}

.casilla.seis {
  background: url('./img/seis.png') center/contain no-repeat;
}

.casilla.siete {
  background: url('./img/siete.png') center/contain no-repeat;
}

.casilla.ocho {
  background: url('./img/ocho.png') center/contain no-repeat;
}

.tablero {
  border: 3px solid #7b7b7b;
  background-color: #a09b9b; 
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 1rem;
  height: auto; 
}

.info {
  color: white;
  font-size: 28px;
  font-family: 'Press Start 2P', cursive;
  padding: 1rem;
  height: 50px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  margin-bottom: 20px;
}

#configurar-btn {
  position: absolute; 
  top: 10px; 
  left: 20px; 

}
